# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=credential_core

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=189c8d1ed9483465752cf260c6eedab11641b09fb0ee7d5e641469fb36283a79a2f15274066e6ed865e09e7bccba4f11a5c09ba70650675f7c329e72c73025c4
JWT_EXPIRES_IN=7d

# App
PORT=3000
FRONTEND_URL=http://localhost:3001

# IPFS
IPFS_API_URL=https://api.pinata.cloud
IPFS_API_KEY=your_pinata_api_key
IPFS_API_SECRET=your_pinata_api_secret

# Blockchain
POLYGON_RPC_URL=https://polygon-rpc.com
CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000

# Queue
QUEUE_CONCURRENCY=10
